# Homework Three

**Goal:** 

Given an iris flower's *petal length*, *petal width*, *sepal length*, and *sepal width*, what **variable(s)** should we look at if we wanted to **predict the species** of the flower?

**Step 0**: Baseline image embedding code.

In [6]:
import pandas as pd
from pandas.tools.plotting import scatter_matrix
%matplotlib inline

**Step 1**: Read iris.txt into a data frame

**Commentary**:

1) Treating the iris text file as a csv file, we read the file in as a pandas dataframe.

2) Using the csv parser, we indicate that the variables for each row are separated by commas.

3) We use the first row as the header/column names (header=0). 

4) Then, using the *names* option, we add spacing inside multi-word column names (Sepal Length instead of SepalLength, etc).

In [7]:
irisdata = pd.read_csv('C:/Users/paigebiller/Documents/GitHub/HomeworkThree/iris.txt',\
                   sep=",", header = 0, names = ['Sepal Length','Sepal Width','Petal Length','Petal Width','Species'])
print(irisdata)

     Sepal Length  Sepal Width  Petal Length  Petal Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
9             4.9          3.1           1.5          0.1     Iris-setosa
10            5.4          3.7           1.5          0.2     Iris-setosa
11            4.8          3.4           1.6          0.2     Iris-setosa
12            4.8          3.0           1.4          0.1     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
15            5.7          4.4           1.5          0.4     Iris-setosa
16            5.4          3.9           1.3          0.4     Iris-setosa
17            5.1          3.5           1.4          0.3     Iris-setosa
18            5.7          3.8           1.7          0.3     Iris-setosa
19            5.1          3.8           1.5          0.3     Iris-setosa
20            5.4          3.4           1.7          0.2     Iris-setosa
21            5.1          3.7           1.5          0.4     Iris-setosa
22            4.6          3.6           1.0          0.2     Iris-setosa
23            5.1          3.3           1.7          0.5     Iris-setosa
24            4.8          3.4           1.9          0.2     Iris-setosa
25            5.0          3.0           1.6          0.2     Iris-setosa
26            5.0          3.4           1.6          0.4     Iris-setosa
27            5.2          3.5           1.5          0.2     Iris-setosa
28            5.2          3.4           1.4          0.2     Iris-setosa
29            4.7          3.2           1.6          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
120           6.9          3.2           5.7          2.3  Iris-virginica
121           5.6          2.8           4.9          2.0  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
123           6.3          2.7           4.9          1.8  Iris-virginica
124           6.7          3.3           5.7          2.1  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
126           6.2          2.8           4.8          1.8  Iris-virginica
127           6.1          3.0           4.9          1.8  Iris-virginica
128           6.4          2.8           5.6          2.1  Iris-virginica
129           7.2          3.0           5.8          1.6  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
132           6.4          2.8           5.6          2.2  Iris-virginica
133           6.3          2.8           5.1          1.5  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

**Step 1 Observations**: 

The print statement displays a leading observation number column, 4 numeric decimal columns, and one text Species column
    
150 rows and 5 columns in total. can compare to expectations to ensure the irisdata dataframe was created successfully.

## Explore the data

**Step 2**: Print the head the dataset

**Commentary**:

1) As a second step, we print the **head** of our pandas dataframe, irisdata

2) The default print of head is ***5 rows***, but we can pass a custom count of rows in the parentheses of the argument

3) Because there are 150 rows total, I am choosing to print roughly the first 10% of the observations (15 rows)

This process can help us explore the magnitude, data types, and values of our data

In [8]:
irisdata.head(15)

    Sepal Length  Sepal Width  Petal Length  Petal Width      Species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa

**Step 2 Observations**: 

The first 4 columns are fairly small, decimal numbers and the fifth column in a text value for Species, including a hyphen character. 

Each of the first 15 observations are Species Iris-setosa.

**Step 3**: Print the tail the dataset

**Commentary**:

1) As a third step, we print the **tail** of our pandas dataframe, irisdata

2) The default print of head is ***5 rows***, just like head, but we can pass a custom count of rows in the parentheses of the argument

3) Because there are 150 rows total, I am choosing to print roughly the last 10% of the observations (15 rows)

This process can help us explore the magnitude, data types, and values of our data

In [9]:
irisdata.tail(15)

     Sepal Length  Sepal Width  Petal Length  Petal Width         Species
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

**Step 3 Observations**: 

While the first 10% of observations in the irisdata dataframe were species Iris-setosa, the tail/last 10% are Iris-virginica.

This suggests that the file may be sorted by species and contains at least two species values in total.

**Step 4: Print summary statistics for the data frame (both numeric and categorical columns) **

**Commentary**:

1) We can use the built in .describe() function to display summary statistics for each variable in irisdata

2) Specifying (include=['object'] prints summary statistics for categorical variables (Species, in this case) including: 

    *total observations with non-missing values for the variable 
    *the number of unique values of the variable 
    *the most-commonly occurring value, and 
    *the frequency of that most common value in the dataset

**Note**: if multiple values have the same frequency, the top value is chosen arbitrarily (as in this dataset, with 3 values x 50 observations)

2) Specifying (include=['object'] prints summary statistics for numeric variables (Sepal Length, Sepal Width, Petal Length, and Petal Width) including: 

    *count
    *mean
    *standard deviation
    *min 
    *max, and 
    *lower, 50, and upper percentiles

**Note**: we can also use describe(include='all') to print both the numeric and categorical columns in one table.

Because the descriptor variables are not compatible (unique, top, and freq apply to categorical variables only, not numeric), I prefer the printout less than the versions including object and number variables separately. 

I have included this option at the end for completeness.

In [16]:
irisdata.describe(include=['object'])

                Species
count               150
unique                3
top     Iris-versicolor
freq                 50

In [14]:
irisdata.describe(include=['number'])

       Sepal Length  Sepal Width  Petal Length  Petal Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [18]:
irisdata.describe(include='all') #less preferred option

        Sepal Length  Sepal Width  Petal Length  Petal Width          Species
count     150.000000   150.000000    150.000000   150.000000              150
unique           NaN          NaN           NaN          NaN                3
top              NaN          NaN           NaN          NaN  Iris-versicolor
freq             NaN          NaN           NaN          NaN               50
mean        5.843333     3.054000      3.758667     1.198667              NaN
std         0.828066     0.433594      1.764420     0.763161              NaN
min         4.300000     2.000000      1.000000     0.100000              NaN
25%         5.100000     2.800000      1.600000     0.300000              NaN
50%         5.800000     3.000000      4.350000     1.300000              NaN
75%         6.400000     3.300000      5.100000     1.800000              NaN
max         7.900000     4.400000      6.900000     2.500000              NaN